<!-- Main layout template for Natura Cafe application -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Natura Cafe</title>
    <style>
        nav a {margin-right: 15px;}
    </style>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Natura Cafe</h1>
    </header>
    <div class="nav-bar">
        <nav>
            <a class="nav-button" href="/">Home</a>
            <a class="nav-button" href="/customers">Customers</a>
            <a class="nav-button" href="/employees">Employees</a>
            <a class="nav-button" href="/roles">Roles</a>
            <a class="nav-button" href="/items">Menu Items</a>
            <a class="nav-button" href="/invoices">Invoices</a>
            <a class="nav-button" href="/invoice_items">Invoice Items</a>
        </nav>
    </div>
    <!-- Placeholder for page-specific content -->
    {{{body}}}

    <footer>
        <p>&copy; 2025 Natura Cafe</p>
    </footer>

</body>
</html>